<div class="row">
    <div class="col-md-7 dashboard-column-left">
        <p>{{'dashboard.invitation'|trans}}</p>
        <h1>{{ invitation.name }}</h1>
        <div></div>
    </div>
    <div class="col-md-5 dashboard-column-right">
        {% include 'private_site/dashboard/block_confirmator.html.twig' %}
        {% if config.object.gift_enabled %}
            {% include 'private_site/dashboard/block_gift_list.html.twig' %}
        {% endif %}
    </div>
</div>
