{% extends 'private_site/base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid wws-private-first-block">
  <div class="container">
    {% include 'private_site/dashboard/first_block.html.twig' %}
  </div>
</div>
    {% include 'both/blocks/block_loop.html.twig' %}
{% endblock %}
