{% extends 'private_site/base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Jumbotron example</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
  </div>
</div>
    {% include 'both/blocks/block_loop.html.twig' %}
{% endblock %}
