{% extends 'public_site/base.html.twig' %}

{% block content %}
<div class="container wws-articles-single">
    {% include 'both/news/single.html.twig' %}
    <a href="{{ path('public_news_list') }}">&laquo; Back to list</a>
</div>
{% endblock %}