###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/node_modules/
composer.lock
/.sass-cache/
/public/js
/public/css
/public/img
/public/fonts
/public/vendor
/nbproject
/project
package-lock.json