<div class="container">
    {% for label, flashes in app.session.flashbag.all %}
    <div class="row">
        <div class="col-sm-12">
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}" rile="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash|raw }}
                    </div>
                {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>