{% set menuItem = knp_menu_get('private_menu') %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ path('private_index') }}">{{ config.object.navbar_title }}</a>

        {% if (menuItem.children | length ) > 0 %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#invitationNavbar" aria-controls="invitationNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        
        <div class="collapse navbar-collapse" id="invitationNavbar">
          {{ knp_menu_render(menuItem) }}
        </div>
      </div>
    </nav>