{% extends 'private_site/base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid spaced">
    <div class="container">
        {% for gift in app.user.gifts %}
            {% include 'private_site/gift_list/row.html.twig'%}
        {% endfor %}
    </div>
    <div class="container">
        {% for gift in gifts %}
            {% if gift.invitation != app.user and (not gift.invitation or config.object.gift_show_chosen) %}
            {% include 'private_site/gift_list/row.html.twig'%}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/js/jquery.litebox.js') }}"></script>
    <script src="{{ asset('js/gifts.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.litebox.css') }}" />
{% endblock %}