{% extends 'base.html.twig' %}

{% block body %}
	<div class="outer">
		<div class="middle">
            {% include 'flashbag.html.twig' %}
            <div class="inner">
                <div class="homesplash">
                    {% include 'security/login.html.twig' %}
                </div>
            </div>
        </div>
	</div>
{% endblock %}