{% set menuItem = knp_menu_get('public_menu') %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">{{ config.object.navbar_title }}</a>
        
        {% if (menuItem.children | length ) > 0 %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#invitationNavbar" aria-controls="invitationNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}

        <div class="collapse navbar-collapse" id="invitationNavbar">
             {{ knp_menu_render(menuItem) }}
        </div>
        {% if is_granted('ROLE_PRIVATE_ACCESS') %}
            <a href="{{ path('private_index') }}" class="btn btn-outline-success my-2 my-sm-0">{{ 'general.goto_invitation'|trans }}</a>
        {% else %}
            {% if config.object.navbar_show_login %}
              {% include 'security/login_navbar.html.twig' %}
            {% endif %}
        {% endif %}
      </div>
    </nav>