<!-- Footer -->
<footer class="page-footer fixed-bottom font-small footer" id="footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{ "now"|date("Y") }} Copyright by 
    <a href="http://whitesite.eu/"> Whitesite</a>.
    Jeśli chcesz taką stronę, <a href="http://wedding.whitesite.eu/#kontakt">skontaktuj się ze mną.</a><br/>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->