body {
    font-family: 'Lato', sans-serif, light;
  /* Margin bottom by footer height */
	/*margin-bottom: 60px;*/
}

@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('fonts/'); /*URL to font*/
}

img.home-image {
    display: table-cell;
    width:100%;
    display: table-cell;
    vertical-align: middle;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
*/

.spaced {
    margin-top: 60px;
}