{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block sonata_admin_content %}
    {% include "admin/flashbag.html.twig" %}

    <h2>{{ 'import.invitations.title'|trans }}</h2>
        {{ form_start(importInvitationsForm) }}
        {{ form_widget(importInvitationsForm) }}
        {{ form_end(importInvitationsForm) }}
{% endblock %}